/* GENERIC */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', cursive;
}

.center {
    margin: 20px auto;
    display: block;
    max-width: 70%;
    text-align: center;    
}

/* UTILS */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */
header>h1 {
    color: #e53170;
}

/* PROFILES */
.profiles{
    margin-top: 30px;
}

.card {
    height: 100px;
    width: 310px;
    float: left;
    margin: 20px 30px;
    background-color: #0f0e17;
}

.foto {
    height: 100px;
    float: left;
}

.targhette {
    text-align: left;
    padding: 15px 5px;
    float: left;
    font-size: 14px;
    color: white; 
}

a {
    text-decoration: none;
} 